<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="codemirror.css">
	<link rel="stylesheet" type="text/css" href="insolence.css">
	<script src="codemirror.js"></script>
	<script src="clike.js"></script>
</head>
<title>Insolence Game</title>
<body>
<div id="insolence_game">
	<div id="insolence_loading_element" class="insolence_area">
		<div id="progress_container">
			<div id="progress_elements_container">
				<img id="insolence_logo" src="insolence.svg" />
				<div id="insolence_spinner"></div>
				<progress value="0" max="1" id="insolence_progress_bar">
				</progress>
				<noscript>
					<div>JavaScript must be enabled to run.</div>
				</noscript>
				<div id="insolence_progress_tag">...</div>
			</div>
			</noscript>
		</div>
	</div>
	<canvas id="insolence_canvas" class="insolence_area"
		oncontextmenu="event.preventDefault()">
	</canvas>
	<textarea id="shader_field" rows="8"></textarea>
	<div id="output_area">
		<div id="shader_submit">Submit</div>
		<textarea id="shader_output" disabled="disabled"></textarea>
	</div>
	<script type="text/javascript" src="insolence.js"
		onload="insolence_run()"></script>
</div>
</body>
</html>

